Flask==1.1.4
pandas==1.2.2
numpy==1.20.3
dash_auth==1.4.1
dash==2.1.0
pyarrow==3.0.0
shapely==1.7.1
plotly==5.5.0
pandasql==0.7.3
kaleido==0.2.1
openpyxl==3.0.9
presto-python-client==0.7.0
pyproj==3.3.0
clickhouse_sqlalchemy==0.1.7
clickhouse-driver==0.2.2
boto3==1.15.18
markupsafe==2.0.1



